.custom-bottom-navigation {
  position: fixed;
  width: 450px;
  height: 70px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.custom-bottom-navigation__dark {
  position: fixed;
  width: 450px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  border-radius: 10px;
  background-color: rgb(24, 26, 27);
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}

.custom-bottom-navigation ul {
  display: flex;
  width: 350px;
}

.custom-bottom-navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.custom-bottom-navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.custom-bottom-navigation ul li a .custom-bottom-navigation-icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: #222327;
}

.custom-bottom-navigation
  ul
  li.custom-bottom-navigation-active
  a
  .custom-bottom-navigation-icon {
  transform: translateY(-32px);
  color: #ffffff;
}

.custom-bottom-navigation ul li a .custom-bottom-navigation-text {
  position: absolute;
  color: #222327;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.custom-bottom-navigation
  ul
  li.custom-bottom-navigation-active
  a
  .custom-bottom-navigation-text {
  opacity: 1;
  transform: translateY(10px);
  color: #5dc3b2;
}

.custom-bottom-navigation-indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: #5dc3b2;
  border-radius: 50%;
  border: 4px solid #ffffff;
  transition: 0.5s;
}

/* .custom-bottom-navigation-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 #ffffff;
} */

/* .custom-bottom-navigation-indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 #fff;
} */

.custom-bottom-navigation
  ul
  li:nth-child(1).active
  ~ .custom-bottom-navigation-indicator {
  transform: translateX(calc(70px * 0));
}

.custom-bottom-navigation
  ul
  li:nth-child(2).custom-bottom-navigation-active
  ~ .custom-bottom-navigation-indicator {
  transform: translateX(calc(70px * 1));
}

.custom-bottom-navigation
  ul
  li:nth-child(3).custom-bottom-navigation-active
  ~ .custom-bottom-navigation-indicator {
  transform: translateX(calc(70px * 2));
}

.custom-bottom-navigation
  ul
  li:nth-child(4).custom-bottom-navigation-active
  ~ .custom-bottom-navigation-indicator {
  transform: translateX(calc(70px * 3));
}

.custom-bottom-navigation
  ul
  li:nth-child(5).custom-bottom-navigation-active
  ~ .custom-bottom-navigation-indicator {
  transform: translateX(calc(70px * 4));
}

@media (max-width: 687px) {
  .custom-bottom-navigation {
    width: auto;
  }
}
