input[type="number"] {
  appearance: none !important;
}

.adortment-select {
  width: auto !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.custom-vote-button {
  position: fixed !important;
  bottom: 15% !important;
  left: 59% !important;
  color: white;
}

.dropzone-title {
  font-size: 1rem !important;
}

.makeStyles-customDrawerPaper-1 {
  background-color: #5dc3b2 !important;
  right: 12px !important;
  height: 370px !important;
}

.MuiTypography-h5 {
  font-size: 1.1rem !important;
}

.makeStyles-customBtnInstall-2 {
  color: #5dc3b2 !important;
}

.makeStyles-customBtnClose-3 {
  background-color: #5dc3b2 !important;
  color: white !important;
  border: 1px solid white !important;
}

@media (max-width: 678px) {
  .custom-vote-button {
    left: 80% !important;
  }
}
