input[type="number"] {
  appearance: none !important;
}

.adortment-select {
  width: auto !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.custom-vote-button {
  position: fixed !important;
  bottom: 15% !important;
  left: 59% !important;
  color: white;
}

.dropzone-title {
  font-size: 1rem !important;
}

@media (max-width: 678px) {
  .custom-vote-button {
    left: 80% !important;
  }
}
